* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body {
width: 100%;
height: 100%;
}
.port {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: cursive;
background-color: #17202A;
color: #bbc5cf;
position: relative;
padding: 0 20px;
flex-direction: column; 
}
.content {
text-align: left; 
max-width: 600px; 
}
.move-right {
width: 300px;
height: 300px;
border-radius: 50%;
margin-left: 50px;
object-fit: cover; 
border: 5px solid #bbc5cf; 
}
.images {
display: flex;
gap: 20px; 
margin-top: 20px; 
}
.hobby-image {
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
border: 5px solid #bbc5cf; 
}
.port + .port {
margin-top: 50px;
}
