* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}
.port{
    font-family:cursive;
    background-color:#334B35;
    color: #bbc5cf;
}
.move-left {
    display: block;
    margin-left: 0; 
    margin-right: auto; 
}
